{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
       <h1>Pagina web</h1>
       <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vero, placeat repudiandae, dolores corrupti quod odio recusandae tenetur quidem voluptas molestiae culpa voluptatum? Reprehenderit, amet ea laborum unde sequi soluta?
       </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Baby-Shower-Cake.jpg" class="img-thumbnail">

    </div>

</div>


{{> footer}}